# Python Challenge Part 1

## A. Explanations

### Rules
- Correct results can be obtained in multiple, different ways.
- Results can depend on the data cleaning approach. Hence, it is possible that different sets of results are correct.
- It is not necessary to comment the code or results. However, commenting can be helpful to clarify why you take a particular approach, or if you note that your results are not entirely correct.
- To solve all exercises you will need to investigate methods not explicitly covered in the lecture.
- Only include the answers to the posed questions into this Jupyter notebook, not some additional analysis that you have performed.

### Data
This Python challenge is about music. The following data sets are needed:

- **charts.csv** contains Spotify charts data (ranking, number of streams, etc.) for a set of countries, for the week 17-23 December 2021
- **charts_de.csv** contains Spotify weekly charts data for Germany for the year 2021 (excluding the last week of the year).
- **tracks.csv** contains metadata for tracks/songs. Definitions of variables can be found [here](https://developer.spotify.com/documentation/web-api/reference/#/operations/get-several-audio-features).
- **artists.csv** contains metadata on artists obtained from Spotify and Last.fm

## B. Tasks

Load your packages here

In [76]:
# Load Packages
import numpy as np
import pandas as pd

### Exercise 1 (5 points)
Read in the data set **charts.csv**.

In [77]:
df_charts = pd.read_csv("charts.csv", sep=",")

Display the first 5 rows

In [78]:
df_charts.head()

,country,freq,date,rank,track_id,artist_names,track_name,streams
0,ae,weekly,2021-12-23,1,5PjdY0CKGZdEuoNab3yDmX,"The Kid LAROI, Justin Bieber",STAY (with Justin Bieber),63427
1,ae,weekly,2021-12-23,2,5Z9KJZvQzH6PFmb8SNkxuk,"Lil Nas X, Jack Harlow",INDUSTRY BABY (feat. Jack Harlow),56828
2,ae,weekly,2021-12-23,3,2Xr1dTzJee307rmrkt8c0g,CKay,love nwantiti (ah ah ah),55401
3,ae,weekly,2021-12-23,4,02MWAaffLxlfxAUY7c5dvx,Glass Animals,Heat Waves,53732
4,ae,weekly,2021-12-23,5,46IZ0fSY2mpAiktS3KOqds,Adele,Easy On Me,50906

Display the number of rows and columns of the data

In [79]:
print("The dataframe has "+ str(df_charts.shape[0])+ " rows and "+ str(df_charts.shape[1]) + " coulmns." )
df_charts.shape

The dataframe has 13800 rows and 8 coulmns.

(13800, 8)

In [80]:
# Quick Data Exploration
print(df_charts.shape)
df_charts.drop_duplicates()
print(df_charts.shape)
df_charts.info()
df_null = round(100*(df_charts.isnull().sum())/len(df_charts), 2)
df_null

(13800, 8)
(13800, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13800 entries, 0 to 13799
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country       13800 non-null  object
 1   freq          13800 non-null  object
 2   date          13800 non-null  object
 3   rank          13800 non-null  int64
 4   track_id      13800 non-null  object
 5   artist_names  13800 non-null  object
 6   track_name    13800 non-null  object
 7   streams       13800 non-null  int64
dtypes: int64(2), object(6)
memory usage: 862.6+ KB

country         0.0
freq            0.0
date            0.0
rank            0.0
track_id        0.0
artist_names    0.0
track_name      0.0
streams         0.0
dtype: float64

### Exercise 2 (12 points)

In [81]:
# Data Preparation
df_charts["date"] = pd.to_datetime(df_charts["date"])
df_charts['year'] = df_charts['date'].dt.year
df_charts['month'] = df_charts['date'].dt.strftime("%b")
df_charts['weekday'] = df_charts['date'].dt.strftime("%a")
df_charts['calenderweek'] = df_charts['date'].dt.strftime('%V')
df_charts['53 weeks'] = df_charts['calenderweek'].apply(lambda x: True if x == 53 else False)
df_charts['calenderweek'] = df_charts['calenderweek'].astype(int)
df_charts

,country,freq,date,rank,track_id,artist_names,track_name,streams,year,month,weekday,calenderweek,53 weeks
0,ae,weekly,2021-12-23,1,5PjdY0CKGZdEuoNab3yDmX,"The Kid LAROI, Justin Bieber",STAY (with Justin Bieber),63427,2021,Dec,Thu,51,False
1,ae,weekly,2021-12-23,2,5Z9KJZvQzH6PFmb8SNkxuk,"Lil Nas X, Jack Harlow",INDUSTRY BABY (feat. Jack Harlow),56828,2021,Dec,Thu,51,False
2,ae,weekly,2021-12-23,3,2Xr1dTzJee307rmrkt8c0g,CKay,love nwantiti (ah ah ah),55401,2021,Dec,Thu,51,False
3,ae,weekly,2021-12-23,4,02MWAaffLxlfxAUY7c5dvx,Glass Animals,Heat Waves,53732,2021,Dec,Thu,51,False
4,ae,weekly,2021-12-23,5,46IZ0fSY2mpAiktS3KOqds,Adele,Easy On Me,50906,2021,Dec,Thu,51,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13795,za,weekly,2021-12-23,196,64xZ9gPptI3rrZjkNdIq3J,"Blxckie, Madumane, Chang Cello",Kwenzekile,24871,2021,Dec,Thu,51,False
13796,za,weekly,2021-12-23,197,7m9OqQk4RVRkw9JJdeAw96,XXXTENTACION,Jocelyn Flores,24855,2021,Dec,Thu,51,False
13797,za,weekly,2021-12-23,198,0qHPxjC83zQYcxe39xSShx,Roddy Ricch,thailand,24807,2021,Dec,Thu,51,False
13798,za,weekly,2021-12-23,199,1DNA2z7Txysjk3cNz2nDLm,RealestK,WFM,24682,2021,Dec,Thu,51,False
13799,za,weekly,2021-12-23,200,27XMmSWSOXJ7eVb40tH93T,347aidan,MEMORIES!,24618,2021,Dec,Thu,51,False

In how many countries does the song **Last Christmas** appear in the top 10 during the week before Christmas?

In [82]:
LastChristmas = df_charts[(df_charts.track_name == "Last Christmas") & (df_charts['rank'] <= 10)]
LastChristmas = LastChristmas[((LastChristmas['calenderweek'] == 51) & (LastChristmas["53 weeks"] == False) | (LastChristmas['calenderweek'] == 52) & (LastChristmas["53 weeks"] == True)) ]
# LastChristmas = LastChristmas[LastChristmas["country"]]
print("The song Last Christmas appears "+ str(LastChristmas['country'].count())+ " times.")
LastChristmas['country'].count()

The song Last Christmas appears 27 times.

27

The most famous version of **Last Christmas** comes from the artist **Wham**, but it is not the only one. Print out all artists that performed "Last Christmas".

In [83]:
LastChristmas2 = df_charts[(df_charts.track_name == "Last Christmas")]["artist_names"].unique()
LastChristmas2

array(['Wham!', 'Ariana Grande', 'James TW', 'Jukka Poika',
       'Little Jinder'], dtype=object)

Display all songs which are performed by 4 or more different artists.

In [84]:
def count_strings(var):
    lst = var.split(",")
    return len(lst)

In [85]:
df_charts["4"] = df_charts.apply(lambda x: True if count_strings(x["artist_names"])>4 else False, axis=1)
result = df_charts[df_charts['4'] == True]
result

,country,freq,date,rank,track_id,artist_names,track_name,streams,year,month,weekday,calenderweek,53 weeks,4
177,ae,weekly,2021-12-23,178,4cG7HUWYHBV6R6tHn1gxrl,"Riton, Nightcrawlers, Mufasa, Hypeman, Dopamine",Friday (feat. Mufasa & Hypeman) - Dopamine Re-...,9761,2021,Dec,Thu,51,False,True
212,ar,weekly,2021-12-23,13,2Qv0DF1us4LhzLj0Cx9cSn,"Kaleb Di Masi, Ecko, Papichamp, Blunted Vato, ...",Turraka - Remix,1418440,2021,Dec,Thu,51,False,True
255,ar,weekly,2021-12-23,56,7iHHlCbsFou5DZSW5HCPfs,"Boza, Lunay, Lenny Tavárez, Juhn, Beéle",Ella - Remix,604362,2021,Dec,Thu,51,False,True
259,ar,weekly,2021-12-23,60,5W1qmxHrMlQGGAiFA3ZQqP,"Dímelo Flow, Dalex, Sech, Justin Quiles, Arcan...",Se Le Ve,562710,2021,Dec,Thu,51,False,True
284,ar,weekly,2021-12-23,85,7I8L3vYCLThw2FDrE6LuzE,"Rusherking, KHEA, Duki, Maria Becerra, LIT kil...",Además de Mí - Remix,419930,2021,Dec,Thu,51,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13680,za,weekly,2021-12-23,81,7AyIRe0g7fobaymXh9IXqx,"Dlala Thukzin, Zaba, Sir Trill, Mpura, Rascoe ...",Phuze - Remix,37424,2021,Dec,Thu,51,False,True
13701,za,weekly,2021-12-23,102,584B5N5x0phtVVpBtSNcPt,"Wanitwa Mos, Master KG, Nkosazana Daughter, Ba...",Dali Nguwe,32781,2021,Dec,Thu,51,False,True
13715,za,weekly,2021-12-23,116,4cG7HUWYHBV6R6tHn1gxrl,"Riton, Nightcrawlers, Mufasa, Hypeman, Dopamine",Friday (feat. Mufasa & Hypeman) - Dopamine Re-...,31303,2021,Dec,Thu,51,False,True
13737,za,weekly,2021-12-23,138,1Yw6QsixEyzpkZioJPq2mv,"DJ Ngwazi, Master KG, Nokwazi, Lowsheen, Calto...",Uthando,28921,2021,Dec,Thu,51,False,True
13759,za,weekly,2021-12-23,160,11lpRETXFQtb66cqUeboRA,"Soa Mattrix, DJ Maphorisa, Phila Dlozi, Boohle...","Idlozi Lami (feat. Phila Dlozi, Boohle & Kabza...",26986,2021,Dec,Thu,51,False,True

How many songs contain the word "Christmas"?

In [86]:
Christmas = df_charts.apply(lambda x: True if 'Christmas' in x["track_name"] else False,axis=1)
result2 = df_charts[Christmas]
print(result2.shape[0])

996

### Exercise 3 (8 points)
Read in the dataset **tracks.json** as a Pandas DataFrame.

In [87]:
df_tracks = pd.read_json("tracks.json")
df_tracks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7383 entries, 0 to 7382
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   track_id          7383 non-null   object
 1   artist_ids        7383 non-null   object
 2   explicit          7383 non-null   bool
 3   duration_ms       7283 non-null   float64
 4   danceability      7283 non-null   float64
 5   energy            7283 non-null   float64
 6   key               7283 non-null   float64
 7   loudness          7283 non-null   float64
 8   mode              7283 non-null   object
 9   speechiness       7283 non-null   float64
 10  acousticness      7283 non-null   float64
 11  instrumentalness  7283 non-null   float64
 12  liveness          7283 non-null   float64
 13  valence           7283 non-null   float64
 14  tempo             7283 non-null   float64
 15  key_name          7283 non-null   object
dtypes: bool(1), float64(11), object(4)
memory usage: 930.1+ KB

Join the **tracks** metadata to the charts data in **charts.csv**, and call the resulting dataset `df`: 

- Briefly explain you choice of a join type (inner, left outer, right outer, full outer).
- Analyse how many songs are contained (1) in both datasets, (2) only in the tracks data, (3) only in the charts data.

In [88]:
# Left join on tracks because thats the metadata 
df = pd.merge(df_charts,df_tracks, how= 'left', on='track_id')
# (1) 
print("In both datasets are " + str(df.shape[0]) + (" songs."))
# (2)
print("The tracks metadata has "+ str(df_tracks.shape[0]) +(" songs"))
# (3)
print("The charts dataframe has "+ str(df_charts["track_id"].unique().shape[0]) + " songs.")

In both datasets are 13800 songs.
The tracks metadata has 7383 songs
The charts dataframe has 5598 songs.

Calculate the minimum, the average, and the maximum danceability for each country, and sort the results accoring to the average danceability in descending order.

In [89]:
calc = df.groupby('country',as_index=False).agg(MinDanceability=('danceability','min'), AVGDanceability=('danceability','mean'), MaxDanceability=('danceability','max')).sort_values(by = "AVGDanceability",ascending=False)
calc

   country  MinDanceability  AVGDanceability  MaxDanceability
10      cl            0.278         0.747690            0.942
17      do            0.278         0.741135            0.943
66      uy            0.278         0.730815            0.905
11      co            0.278         0.727385            0.924
18      ec            0.278         0.726885            0.930
..     ...              ...              ...              ...
57      se            0.173         0.583120            0.967
27      hk            0.176         0.580950            0.838
63      tw            0.240         0.577125            0.883
34      is            0.141         0.569080            0.967
46      no            0.145         0.564590            0.935

[69 rows x 4 columns]

### Exercise 4 (10 points)

The goal of this exercise is to analyze genres. Unfortunately, we do not have genre information for songs. But we can use genre information (in the form of tags) which is available for artists.

Read in the data **artists.json**.

In [90]:
df_artists = pd.read_json("artists.json")
df_artists["primary_artist_id"] = df_artists["artist_id"]

Join the artist data to the data from the previous exercise. The difficulty is that some of the tracks in data set `df` have multiple artists: For instance, the song "STAY (with Justin Bieber)" is jointly performed by "The Kid LAROI" and "Justin Bieber". To deal with this difficulty: (1) extract the first artist_id from the column `artist_ids` and store it in a new variabe **primary_artist_id**. (2) Then join the artist metadata only for the primary artist.

In [91]:
df["primary_artist_id"] = df.apply(lambda x: x["artist_ids"][0],axis = 1)
df["primary_artist_id"] = df["primary_artist_id"].astype(str)
df = pd.merge(df,df_artists, how='left', on='primary_artist_id')

Let's take the variable `toptag_lastfm` as an indicator of the genre for a given track. Use this variable to calculate the average danceability per genre, and show the 10 genres with the highest danceability.

In [92]:
genre = df.groupby("toptag_lastfm", as_index= False).agg(TopTenAVGDanceability = ("danceability","mean")).sort_values(by = "TopTenAVGDanceability",ascending=False).head(10)
genre

       toptag_lastfm  TopTenAVGDanceability
317          nigeria                  0.951
102      Russian Pop                  0.929
430  underground rap                  0.923
114      Turkish Rap                  0.912
33          Dolorean                  0.911
249        hardstyle                  0.900
365          romania                  0.899
329      penis music                  0.898
81     Objetivo Fama                  0.896
269            iraqi                  0.894

### Exercise 5 (15 points)
For this exercise, read in the dataset **charts_de.csv** containing the weekly German Spotify charts in 2021 (excluding the last week of the year).

In [93]:
df_charts_de = pd.read_csv('charts_de.csv', sep= ',')
df_charts_de.head()

,country,freq,date,rank,track_id,artist_names,track_name,streams
0,de,weekly,2021-01-07,1,5yUzqd3H7cmJ1no6B4uTzu,Apache 207,Angst,4786951
1,de,weekly,2021-01-07,2,3ipliatTDndCmnYGaNiAbI,"Ufo361, Bonez MC",7,3622792
2,de,weekly,2021-01-07,3,19LqJBBfd73oeBc3CPgDdl,"Samra, TOPIC42",Lost (feat. TOPIC42),2278862
3,de,weekly,2021-01-07,4,3tjFYV6RSFtuktYl3ZtYcq,"24kGoldn, iann dior",Mood (feat. iann dior),1795531
4,de,weekly,2021-01-07,5,6f3Slt0GbA2bPZlz0aIFXN,Tiësto,The Business,1786970

In [94]:
# Preprocessing
df_charts_de["date"] = pd.to_datetime(df_charts_de["date"])
df_charts_de['year'] = df_charts_de['date'].dt.year
df_charts_de['month'] = df_charts_de['date'].dt.strftime("%b")
df_charts_de['weekday'] = df_charts_de['date'].dt.strftime("%a")
df_charts_de['calenderweek'] = df_charts_de['date'].dt.strftime('%V')
df_charts_de['calenderweek'] = df_charts_de['calenderweek'].astype(int)

Create a new variable `total_weeks` that shows how often a given song is part of the charts in the entire year 2021. The minimum possible value should be 1, the maximum possible value should be 51.

In [95]:
result3 = df_charts_de[df_charts_de.year == 2021].groupby(['track_id'], as_index=False).agg(Count_item=('track_name', 'count'))
df_charts_de = pd.merge(df_charts_de, result3, how="left", on="track_id")
df_charts_de = df_charts_de.rename(columns={"Count_item":"total_weeks"})

Create a new column `previous_rank` that contains the rank of a song in the previous week. If the song was not part of the charts in the previous week than it should be filled by a missing value.

In [96]:
df_charts_de['previous_rank'] = df_charts_de.sort_values(['date', 'track_id']).groupby('track_id')["rank"].shift(1)
df_charts_de.head()

Create a new variable `cummulative_weeks` that contains the cummulative count of how often a given song has charted until this date. If a song appears newly in the charts, the value should be 1. With every further week in the charts, the value should increase by 1. (You can ignore the fact that songs may have been already in the charts back in 2020, a period that is not covered by this data set.)

In [97]:
df_charts_de['cummulative_weeks'] = df_charts_de.groupby('track_id').cumcount()+1
df_charts_de.head()

Print the rows with index number 401 to 405.

In [98]:
df_charts_de.iloc[401:406,:]

,country,freq,date,rank,track_id,artist_names,track_name,streams,year,month,weekday,calenderweek,total_weeks,previous_rank,cummulative_weeks
401,de,weekly,2021-01-21,2,7lPN2DXiMsVn7XUKtOW1CS,Olivia Rodrigo,drivers license,3934453,2021,Jan,Thu,3,19,7.0,2
402,de,weekly,2021-01-21,3,5yUzqd3H7cmJ1no6B4uTzu,Apache 207,Angst,2678474,2021,Jan,Thu,3,26,1.0,3
403,de,weekly,2021-01-21,4,6f3Slt0GbA2bPZlz0aIFXN,Tiësto,The Business,2240681,2021,Jan,Thu,3,51,9.0,3
404,de,weekly,2021-01-21,5,2YjkalYiseRDPYjpzLu8Vl,"Miksu / Macloud, Bausa, Selmon, reezy",Lonely,2065985,2021,Jan,Thu,3,15,2.0,2
405,de,weekly,2021-01-21,6,19LqJBBfd73oeBc3CPgDdl,"Samra, TOPIC42",Lost (feat. TOPIC42),2033680,2021,Jan,Thu,3,16,5.0,3